/* Estas son opciones sobre el tamaño y los márgenes de las opciones del menu */
.navbar-nav .nav-item a.nav-link {
  display: block;
  padding: 8px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  color: #e8e8e8;
  border-bottom: 3px solid transparent
}

/* Este es el color del texto de las letras del menú y del footer */
.text-color{
  color: #e8e8e8;
}

/* Este es el color de la línea que aparece en el borde inferior al poner el mouse sobre las opciones del menu */
.navbar-nav .nav-item a:hover{
  color: #d4af37;
  border-bottom: 3px solid #d4af37;
  transition: border-bottom 0.3s ease-in-out;
}

/* Este es el color del boton al poner el mouse sobre el */
.btn-hover:hover{
  background-image: linear-gradient(1deg, #000000,#661300);
}

/* Estos son los colores que elegí para el menú, el footer y el boton de la página */
.gradiente {
  background-image: linear-gradient(1deg, #64021e, #ee0404);
}

/* Formato para el div de la calculadora */
.calculator {
  background-image: linear-gradient(1deg, #64021e, #ee0404);
  border-radius: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

/* Formato tipo para los botones */
.botones button {
  background-color: #1a0d0a;
  color: #e8e8e8;
  border-radius: 15px;
}

/* Hoover de los botones */
.botones button:hover {
  background-color: #d4af37;
  color: #000000;
}

/* Aplica un radio de 15px al elemento que contenga esta clase */
.radio {
  border-radius: 15px;
}

/* Aplica un color de texto al elemento que contenga esta clase */
.blanco {
  color: white;
}

/* Formato para el div de la loteria */
.loteria {
  background-image: linear-gradient(1deg, #64021e, #ee0404);
  border-radius: 15px;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

/* radio especifico para el input de la loteria */
.loteria input {
  border-radius: 10px;
}

/* Boton y hoover del boton de la loteria */
.loteria button {
  background-color: #1a0d0a;
  color: #e8e8e8;
  border-radius: 10px;
}
.loteria button:hover {
  background-color: #d4af37;
  color: #000000;
}

/* Formato para los divs, botones y los elementos de la lista de Tareas */
#listaTareas {
  list-style-type: none;
  padding: 10px;
}
#listaTareas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
#listaTareas li.completada span {
  text-decoration: line-through;
  color: #000000;
}
#listaTareas li button {
  background-color: #1a0d0a;
  color: #e8e8e8;
  border-radius: 10px;
}
#listaTareas li button:hover {
  background-color: #cc0000;
}
.botonTareas {
  padding: 5px;
  font-size: 14px;
}
.completada {
  text-decoration: line-through;
}
